body {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

hr {
  width: 2%;
  color: grey;
  opacity: 0.4;
  border-style: dotted;
  border-width: 4px;
  border-top: 0;
  margin: 20px auto;
}

.home-icon {
  background-color: white;
  border-radius: 100%;
  height: 70px;
  position: absolute;
  left: 100px;
  top: 30px;
}

.name {
  margin: 0 auto 0;
  font-family: "Yellowtail", Verdana, sans-serif;
  font-size: 80px;
}

.header h2 {
  color: #7FBCD2;
  font-family: "Montserrat", cursive;
  margin-top: 0;
  margin-bottom: 15px;
}

.header {
  color: #7FBCD2;
  background-color: #E1FFEE;
  position: relative;
  padding-top: 120px;
}

.cloud1 {
  position: absolute;
  top: 40px;
  right: 300px;
}

.cloud2 {
  position: absolute;
  top: 270px;
  left: 250px;
}
.middle{
  margin-top: 70px;
}

.logo {
  width: 25%;
  margin-right: 30px;
  border-radius: 100%;
  background-color: #9CB4CC;
  float: left;
}

.profile {
  width: 50%;
  margin: auto;
  text-align: left;
}

.profile h2 {
  font-family: "GFS Neohellenic", verdana, arial, sans-serif;
  color: #319DA0;
}

.profile p {
  color: #413F42;
  font-family: verdana, sans-serif;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
}

.study-img {
  width: 25%;
  float: right;

}

.study {
  width: 50%;
  margin: auto;
  text-align: left;
}

.study h2 {
  font-family: "GFS Neohellenic", verdana, arial, sans-serif;
  color: #319DA0;
}

.study p {
  color: #413F42;
  font-family: verdana, sans-serif;
  width: 50%;

  font-size: 16px;

}

.contact h2 {
  font-family: "GFS Neohellenic", verdana, arial, sans-serif;

  width: 15%;
  margin: 30px auto 0;

}

.contact-img {
  height: 120px;
}






.footer{
height:  70px;

  background-color: #68B0AB;

}
.links{
  padding-top: 25px;
  font-family: "GFS Neohellenic", verdana, arial, sans-serif;
  color: #9CB4CC;
  font-size: 20px;
}
.btn {
  
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #95E1D3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #319da0;
  text-decoration: none;
}
